h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: white;
  text-align: center;
}

h1,
h2,
h4,
h5,
h6, {
  text-align: center;
  margin-top: 20px;
}

h2,
h3 {
  background-color: rgba(10, 118, 168, 0.315);
  border-radius: 10px;
  padding: 30px;
}

h3 {
  text-align: left;
}

p,
li {
  font-size: 20px;
}

li {
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
}

a,
span {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(55, 98, 240);
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3f/%28Pasta%29_by_David_Adam_Kess_%28pic.2%29.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

div {
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 75%;
  background-color: rgb(43, 62, 83);
  padding: 0px 50px;
  align-items: center;
  z-index: 1;
}

img {
  align-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.603);
  width: 200px;
  height: 200px;
}

.types-pasta {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.main-image {
  width: 400px;
  height: 250px;
}

.main-text {
  border: none;
  width: 300px;
  height: 210px;
}

#background-pasta {
  border: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}